#login
{
-fx-background-image:url('images/wedding.jpg');
}

#logo
{
}

#logoimage
{
-fx-image:url('OnYourEVE-logos/OnYourEVE-logos_black.png');
}

#welcome
{
    -fx-background-image:url('images/epl.jpg');
    -fx-background-size: cover;
}

#raisedButton{
    -jfx-button-type: RAISED;
    -fx-background-color: #15d4bd;
    -fx-text-fill: white;
}

.gradiantButton{
    -fx-background-color: linear-gradient(to left top, #00ffe8, #8cf8bb, #c3eda0, #e9e19b, #ffd6a6);
    -fx-text-fill: white;
}


#manager
{
    -fx-graphic:url('icons/manager.png');
}

#officer
{
    -fx-graphic:url('icons/officer.png');
}
#customer
{
    -fx-graphic:url('icons/customer.png');
}

.loginUI
{
    -fx-background-color:  linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    -fx-background-radius: 30;
    -fx-opacity: 0.5;
}

#customerUI
{
    -fx-background-color:  linear-gradient(to right top, #a2fbf8, #7fd6d2, #5cb3ae, #39908b, #0c6f69);
    -fx-background-radius: 30;
    -fx-opacity: 0.5;
}

#officerUI
{
    -fx-background-color: linear-gradient(to right top, #738989, #566767, #3a4646, #202828, #020a0a);
    -fx-background-radius: 30;
    -fx-opacity: 0.5;
}

.textFCustom
{
    -fx-focus-color: #289371;
    -fx-prompt-text-fill: white;
    -fx-unfocus-color: white;
}

.whiteBG
{
    -fx-background-color: white;
}
